#contactForm {
    max-width: 37.5em;
    margin: 1.25em auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.5em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-field {
    margin-bottom: 1em;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border: 0.0625em solid;
    border-radius: 0.25em;
}

#sendButton {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #1d8623;
}
