body {
    font-family: 'Arial', sans-serif;
    background-color: #f7d794;
    color: #6a0572;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  main {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .messaggio-errore-404 {
    font-size: 3em;
    color: #d90429;
    margin-bottom: 0.5em;
  }
  
  h2 {
    color: #6a0572;
  }
  
  p {
    font-size: 1.2em;
    margin-top: 0.5em;
    color: #6a0572;
  }
  
  .home-button-container {
    display: inline-block;
    margin-top: 2em;
    padding: 1em 2em;
    background-color: #833471;
    color: #fff;
    text-decoration: none;
    border-radius: 0.8em;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .home-button-container:hover,
  .home-button-container:focus {
    background-color: #6a0572;
    outline: none;
  }
  .messaggio-errore-404, h2, p, .home-button-container {
    outline: none;
  }
  .home-button-container:focus {
    box-shadow: 0 0 0 0.2em #d90429, 0 0 0 0.4em #f7d794;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }  