#content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 5em;
}

form {
    width: 100%;
    max-width: 25em;
    padding: 1.25em;
    box-sizing: border-box;
    border: 0.0625em solid;
    border-radius: 0.5em;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 0.0625em solid;
    border-radius: 0.25em;
}

#submit {
    margin-top: 0.5em;
    background-color: #4caf50;
    color: #fff;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

#submit:hover {
    background-color: #1d8623;
}

p {
    margin-top: 5em;
}
