@media screen and (max-width: 520px), (max-device-width: 520px) {
    html{
        line-height:1em;
        width: 100%;
    }
    header {
        padding: 0.5em 0em 0.5em 0em;
        width:100%;
        margin: 0px;
        position: sticky;
        top: 0;
        height: 4em;
        text-align: left;
        text-indent: -999em;
    }
    header h1 {
        font-size: 3em;
        background-position: left;
        margin-left: 5%;
        margin-top: -0.4em;
    }
    #menu-toggle{
        position: relative;
        top: -1.9em;
        left: 75%;
        width: 1.5em;
        height: 1.5em;
        border-radius: 0.5em;
        font-size: 2em;
        display: inline;
    }
    #menu {
        display: none;
        position: sticky;
        top: 4.9em;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    #menu ul {
        width: 100%;
    }

    #menu li {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
    }
    #menu li>ul>li{
        text-indent: 20%;
    }

    #menu>* {
        padding: 1em;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #menu a:hover {
        background-color: var(--hoverLink);
        border-radius: 0;
    }

    #menu ul ul {
        position: static;
        display: none;
        width: 100%;
    }

    #menu li:hover > ul {
        display: none;
    }

    #menu.active {
        display: flex;
    }

    /*---------------
    MAIN
    ------------------*/
    main{
        padding:5%;
        margin: 0px;
        display: block; /* in style.css è flex*/
        text-align: center;
        font-size: 1em; /* in style.css è 1*/
    }
    #prenotazioni-home{
        margin: 0px;
        width: 70%;
        display: inline-block;
    }
    /*------ Cosa Offro -----*/
    #CosaOffro{
        display: block;
        margin: 0px;
        margin-top: 1em;
        padding: 0px;
        text-align: center;
        border: 0px;
        width: 100%;
    }
    #cosa-offro-links-massaggi{
        background-image: url("../media/massaggi.jpg");
    }
    #cosa-offro-links-corsi{
        background-image: url("../media/corso.jpg");
    }
    #cosa-offro-links-danza{
        background-image: url("../media/danza.jpg");
    }
    #cosa-offro-links-fisioterapia{
        background-image: url("../media/fisioterapia.jpg");
    }
    #CosaOffro div{
        margin:auto;
        margin-top: 1em;
        padding-top:4em;
        width: 80%;
        height: 6em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: auto;
        border-radius: 1em;
    }
    
    #CosaOffro div a.cosa-offro-links{
        margin: auto;
        display: block;
        opacity: 1;
        position: inherit;
    }
    #img-corso {display: none;}
    #img-massaggio {display: none;}
    /*------ Descrizione Anna -----*/
    #foto-anna-home{
        width: 100%;
        height:37vw;
        display: block;
        margin: 0px;
        padding:0px;
        margin-top: 1em;
        border-radius: 1em;
        background-position:left top;
        margin-bottom: 18em;
    }
    #foto-anna-home>div{
        background-color: rgba(0,0,0,0);
        border-radius: 1em;
        padding: 0em;
        width: 100%;
        padding-top: 41vw;
    }
    #foto-anna-home p{
        max-height:10em;
        overflow: clip;
    }
    /*------ Card -----*/
    #idee_regalo h2{
        margin :auto;
    }
    #idee_regalo li{
        width: 100%;
    }
    .gift-card {
        width: auto;
        height: 60vw;
    }
    .gift-card-container li{
        height: 15em;
    }
    #idee_regalo{
        display: none;
    }
}

