* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: CustomFont;
    src: url(../media/Montserrat-Regular.ttf);
}

:root {
    --headerBackground:#F2EDE4;
    --headerText:#262626;

    --backgroundColor:#F2DC9B;
    --textColor:#4e4a4a;
    --borderColor:#E0A841;

    --link:#3C2C23;
    --visitedLink:#b44b00;
    --hoverLink:#E0A841;

    --footerBackground:black;
    --footerText:white;

    --boxesBackground:white;

    --font: "CustomFont", "Segoe UI", "Arial", sans-serif;
  
    --cardWidth: 26.25em;
    --cardHeight: 38.44em;
    --cardBorderRadius: 1.25em;
    --giftCardWidth: 18.75em;
    --giftCardHeight: 18.75em;
}

html {
    font-size: 100%;
    font-family:var(--font);
    line-height:1.5em;
    margin:auto;
    background-color: var(--backgroundColor);
}

body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}


/********************************************
HEADER
********************************************/
header {
    background-color: var(--headerBackground);
    color: var(--headerText);
    text-align: center;
    text-indent: -999em;
    padding: 1em;
}

header h1 {
    margin-top:-0.1em;
    text-indent: -999em; 
    background-image: url(../media/logo_nobg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 7em;
    line-height: 1.5em;
}

#menu-toggle{
    display: none;
}

/********************************************
NAV
********************************************/

nav {
    background-color: var(--headerBackground);
    color: var(--headerText);
    text-align:center;
    padding:1em;
    font-size:1em;
}

#menu {
    list-style-type: none;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#menu a {
    padding: 0.5em;
    color: var(--link);
}

#menu a:hover {
    background-color: var(--hoverLink);
    border-radius: 1em;
}

#menu ul li {
    display: inline-block;
    margin: 0.5em;
    position: relative;
}

#menu ul a {
    padding:0.5em;
}

#menu ul a:hover {
    background-color: #e4c99e;
    border-radius:1em;
}
#menu ul a:visited {
    color: var(--visitedLink);
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#menu ul li:hover > ul {
    display: block;
}

#breadcrumb {
    text-align:left;
    position: sticky;
    top: 4em;
    left: 0px;
    z-index: 1;
}

nav a:link {
    color:var(--link);
}

nav a:visited {
    color:var(--visitedLink);
}

nav a:hover {
    color:var(--hoverLink);
}

button.dropdown__title{
        padding: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: var(--backgroundColor);
        border: solid 2px var(--borderColor);
        border-radius: 0.5em;
        font-family: var(--font);
        font-size: 1em;
        
}
#Prestazioni-dropdown{
    width: max-content;
    border-radius: 1em;
}
ul#Prestazioni-dropdown li{
    display: block;
}

/********************************************
MAIN
********************************************/

main {
    padding:2em;
    color:var(--textColor);
    font-size:1em; 
    max-width: 1200px;
    margin: auto;
}

main a:link {
    color:var(--link);
}

main a:visited {
    color:var(--visitedLink);
}

main a:hover {
    color:var(--hoverLink);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#menu ul li:hover .dropdown-menu {
    display: block;
}

#prenotazioni-home {
    width: 15em;
    display: block;
    margin:auto;
    
    margin-bottom: 2em;
    padding:1em;
    
    background-color:var(--boxesBackground);
    border: 0.05em solid var(--borderColor);
    border-radius: 3em;

    text-align:center;
}

#CosaOffro {
    width: 100%;
    height: 50vw;
    max-height: 600px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 6fr 8fr;
}

#CosaOffro h1 {
    text-align: center;
    grid-row:1;
    grid-column:1/3;
}

#cosa-offro-links-massaggi {
    grid-row: 3;
    grid-column: 2;
}

#cosa-offro-links-corsi {
    grid-row: 5;
    grid-column: 2;
}

#cosa-offro-links-danza {
    grid-row: 4;
    grid-column: 2;
}

#cosa-offro-links-fisioterapia {
    grid-row: 2;
    grid-column: 2;
}

.cosa-offro-link{
    width:13em;
    height: 1.4em;
    padding:0.2em;
    padding-left: 1em;
    margin:0.1em;
    background-color:var(--boxesBackground);
    border: 0.05em solid var(--borderColor);
    border-radius: 1.4em;
    white-space: nowrap;
}

#img-corso {
    width:100%;
    height:100%;
    
    grid-row:2/7;
    grid-column:1;
    
    text-indent:-999em; 
    background-image:url(../media/corso.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    font-size:4em;
    line-height:1.5em;
    
    border: 0.05em solid var(--borderColor); /*da cambiare con un colore suo*/
    border-right-width: 0.55em;
    border-bottom-width:0.55em;
    border-radius:0.3em;

    z-index: -1;

    position: relative;
    left: 20%;
}

#img-massaggio {
    width:100%;
    height:100%;
    
    grid-row:6/8;
    grid-column:2;
    
    text-indent: -999em; 
    background-image: url(../media/corso.jpg); /*credo manchi l'immagine relativa ai massaggi*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 4em;
    line-height: 1.5em;
    
    position: relative;
    left: -20%;
    
    border: 0.05em solid var(--borderColor);
    border-radius:0.3em;
}
#chi-sono{
    height: 37vw;
    max-height: 430px;
}
#foto-anna-home {
    margin:auto;
    margin-top:2em;
    padding:2em;
    height: 30vw;
    max-height: 360px;
    background-image:url(../media/Anna_2.0_rev.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    border-radius:30px;
}

#foto-anna-home-descrizione {
    display: flex;
    flex-direction: column;
    padding:0.5em;
    width:30%;
    height: 28vw;
    max-height: 336px;
    position: relative;
    left: 65%;
    top: calc(min(1200px , 100vw)/100 * -33 );
}
#foto-anna-home-descrizione p{
    height: 15vw;
    max-height: 190px;
    overflow :hidden;
}
#descrizione-foto-anna-home {
    background-color: white;
    border-radius: 1em;
}

#descrizione-foto-anna-home > * {
    margin: 0.5em;
}

#foto-anna-home-descrizione {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}
#foto-anna-home-descrizione > *{
    margin: 0.4em;
}


/********************************************
SEZIONE MOMENTANEA IDEE REGALO DA UNIRE POI CON MASSAGGI.CSS
********************************************/

#idee_regalo {
    border-top: 1px solid var(--borderColor);
    text-align: center;
    margin-top: 2em;
}
    
#vedi-di-piu {
    display:inline-block;
    width:6em;
    margin:auto;
    margin-top:1em;
    margin-bottom:1em;
    padding:1em;
    background-color:var(--boxesBackground);
    border:0.05em solid var(--borderColor);
    border-radius: 3em;
}
    
#idee_regalo h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
    
#idee_regalo a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.2em;
}
    
.gift-card-container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
.gift-card {
    max-width: 100%;
    width: var(--giftCardWidth);
    height: var(--giftCardHeight);
    perspective: 62.5em; 
    margin: 0.625em;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}
    
.gift-card:hover .card-inner {
    transform: rotateY(180deg);
}
    
.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
}
    
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.25em;
    border-radius: 15px;
    background-color: var(--backgroundColor);
}
    
.card-back {
    transform: rotateY(180deg);
    background-color: white;
    border-radius: var(--cardBorderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.25em;
    font-size: 1.2em;
}
    
.card-name-container {
    position: absolute;
    bottom: 10%;
    left: 50%; /* Lo faccio partire da metà */
    transform: translateX(-50%); /* poi lo sposto verso sinistra per centrarlo*/
    right: 0;
    background-color: white;
    width: 90%;
    padding: 1.75em;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}
    
.card-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    color: black;
}
    
#img1-1.card-front {
    background: url("../media/card/card1.jpg") no-repeat;
    background-size: cover;
}
    
    #img4-1.card-front {
    background: url("../media/card/card4.jpg") no-repeat;
    background-size: cover;
    }
    
#img6-1.card-front {
    background: url("../media/card/card6.jpg") no-repeat;
    background-size: cover;
}

/********************************************
FOOTER
********************************************/
footer {
    background-color: var(--footerBackground);
    color: var(--footerText);
    padding:1em;
    text-align: center;
}
.icona-social{
    width: 40px;
    height: 40px;
}
/********************************************
ANNA
********************************************/
.anna-page #anna-img {
    width: 100%;
    max-width: 400px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: var(--cardBorderRadius);
}

.anna-page #content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--headerText);
}

.anna-page #content h2 {
    color: var(--headerText);
    margin-top: 2em;
}

.anna-page #content p, 
.anna-page #content dl, 
.anna-page #content ul {
    margin-bottom: 1em;
    font-size: 1em; 
    line-height: 1.5em;
}

.anna-page dl dt {
    font-weight: bold;
    margin-top: 0.5em;
}

.anna-page dl dd {
    margin-left: 20px;
}

.anna-page h3 {
    margin-top: 2em;
    color: var(--headerText);
}

.anna-page ul {
    margin-left: 20px;
}

.anna-page li {
    margin-bottom: 0.5em;
}

/********************************************
CONTATTI
********************************************/
.contact-page #contactForm {
    max-width: 37.5em;
    margin: 1.25em auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.5em;
}

.contact-page legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.contact-page fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.contact-page .form-field {
    margin-bottom: 1em;
}

.contact-page label {
    display: block;
    font-weight: bold;
}

.contact-page input,
.contact-page textarea {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border: 0.0625em solid;
    border-radius: 0.25em;
}

.contact-page #sendButton {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.contact-page #sendButton:hover {
    background-color: #1d8623;
}

.contact-page #content h1, 
.contact-page #content h2, 
.contact-page #content h3, 
.contact-page #content p, 
.contact-page #content dl, 
.contact-page #content ul {
    color: var(--headerText);
    margin-top: 1em;
    font-size: 1em; 
    line-height: 1.5em;
}

.contact-page #content dl dt {
    font-weight: bold;
    margin-top: 0.5em;
}

.contact-page #content dl dd {
    margin-left: 20px;
}

.contact-page #content ul {
    margin-left: 20px;
}

.contact-page #content li {
    margin-bottom: 0.5em;
}

/********************************************
MASSAGGI
********************************************/
.massages-page .shop-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .massages-page .card-name-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: white;
    padding: 1.75em;
    border-radius: var(--cardBorderRadius);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 60%;
  }
  
  
  .massages-page .card-name {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
  
  
  .massages-page .card {
    max-width: 100%;
    width: var(--cardWidth);
    height: var(--cardHeight);
    perspective: 62.5em;
    margin: 0.625em;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
  }
  
  .massages-page .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
  }
  
  .massages-page .card-front,
  .massages-page .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.25em;
  }
  
  .massages-page .card-front {
    border-radius: var(--cardBorderRadius);
  }
  
  .massages-page .card-back {
    transform: rotateY(180deg);
    background-color: white;
    border-radius: var(--cardBorderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.25em;
    font-size: 1.2em;
  }
  
  .massages-page .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .massages-page .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .massages-page .button-text {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: black;
  }
  
  .massages-page input[type="button"] {
    background-color: #4caf50;
    color: white;
    padding: 1em 2em;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
  }
  
  .massages-page input[type="button"]:hover {
    background-color: #45a049;
  }
  
  /* Immagini dei massaggi */
  .massages-page #img1.card-front, .massages-page #img2.card-front, .massages-page #img3.card-front, .massages-page #img4.card-front, .massages-page #img5.card-front, .massages-page #img6.card-front, .massages-page #img7.card-front, .massages-page #img8.card-front {
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .massages-page #img1.card-front { background-image: url("../media/card/card1.jpg"); }
  .massages-page #img2.card-front { background-image: url("../media/card/card2.jpg"); }
  .massages-page #img3.card-front { background-image: url("../media/card/card3.jpg"); }
  .massages-page #img4.card-front { background-image: url("../media/card/card4.jpg"); }
  .massages-page #img5.card-front { background-image: url("../media/card/card5.jpg"); }
  .massages-page #img6.card-front { background-image: url("../media/card/card6.jpg"); }
  .massages-page #img7.card-front { background-image: url("../media/card/card7.jpg"); }
  .massages-page #img8.card-front { background-image: url("../media/card/card8.jpg"); }
  
/********************************************
ERRORI
********************************************/
.error-page body {
    font-family: 'Arial', sans-serif;
    background-color: #f7d794;
    color: #6a0572;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
.error-page main {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
  
.error-page .messaggio-errore-404 {
    margin-top: 2em;
    font-size: 3em;   
    color: #d90429;
    margin-bottom: 0.5em;
}
.error-page .messaggio-errore-500 {
    margin-top: 2em;
    line-height: 1em;
}
.error-page h1 {
    margin-bottom: 0.4em;
    line-height: 1em;
}
.error-page h2 {
    line-height: 1em;
    color: #6a0572;
}
  
.error-page p {
    font-size: 1.2em;
    margin-top: 0.5em;
    color: #6a0572;
}
  
.error-page .home-button-container {
    display: inline-block;
    margin-top: 2em;
    padding: 1em 2em;
    background-color: #833471;
    color: #fff;
    text-decoration: none;
    border-radius: 0.8em;
    transition: background-color 0.3s;
    cursor: pointer;
}
  
.error-page .home-button-container:hover,
.error-page .home-button-container:focus {
    background-color: #6a0572;
    outline: none;
}
  
.error-page .messaggio-errore-404, .error-page h2, .error-page p, .error-page .home-button-container {
    outline: none;
}
  
.error-page .home-button-container:focus {
    box-shadow: 0 0 0 0.2em #d90429, 0 0 0 0.4em #f7d794;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/********************************************
ADMIN LOGIN
********************************************/
.login-page #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.login-page #content p {
    order: 2;
    margin-top: 1em;
    text-align: center;
    max-width: 90%;
}

.login-page #content form {
    order: 1;
    width: 100%;
    max-width: 25em;
    padding: 1.25em;
    box-sizing: border-box;
    border: 0.0625em solid;
    border-radius: 0.5em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page label {
    display: block;
    font-weight: bold;
}

.login-page input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 0.0625em solid;
    border-radius: 0.25em;
}

.login-page #submit {
    margin-top: 0.5em;
    background-color: #4caf50;
    color: #fff;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-page #submit:hover {
    background-color: #1d8623;
}

/********************************************
FORM PRENOTAZIONI
********************************************/
.reservation-page #formPrenota {
    max-width: 37.5em;
    margin: 1.25em auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.5em;
}

.reservation-page legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #333;
}

.reservation-page fieldset {
    border: none;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.reservation-page .form-field {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.reservation-page label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.reservation-page input[type="text"],
.reservation-page input[type="password"],
.reservation-page input[type="email"],
.reservation-page input[type="tel"],
.reservation-page input[type="number"],
.reservation-page textarea,
.reservation-page select {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
}

.reservation-page #submit_button {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 1em auto 0;
}

.reservation-page #submit_button:hover {
    background-color: #1d8623;
}

.reservation-page input[type="radio"] {
    margin-right: 0.5em;
}

.reservation-page select {
    padding: 0.5em;
    background-color: #f9f9f9;
}

/*-----------------------------------------*/
.err_elem {
    display: inline;
    color: red;
    font-size: 0.7em;
    /* Altri stili se necessari */
}
