* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: CustomFont;
    src: url(../media/Montserrat-Regular.ttf);
}

:root {
    --headerBackground:#F2EDE4;
    --headerText:#262626;

    --backgroundColor:#F2DC9B;
    --textColor:#262626;
    --borderColor:#E0A841;

    --link:#3C2C23;
    --visitedLink:#6D5940;
    --hoverLink:#E0A841;

    --footerBackground:black;
    --footerText:white;

    --boxesBackground:white;

    --font: "CustomFont", "Segoe UI", "Arial", sans-serif;
  
    --cardWidth: 26.25em;
    --cardHeight: 38.44em;
    --cardBorderRadius: 1.25em;
}

html {
    font: size 100%;
    font-family:var(--font);
    line-height:1.5em;
    margin:auto;
    background-color: var(--backgroundColor);
}

body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}


/********************************************
HEADER
********************************************/
header {
    background-color: var(--headerBackground);
    color: var(--headerText);
    text-align: center;
    padding: 1em;
}

header h1 {
    margin-top:-0.1em;
    text-indent: -999em; 
    background-image: url(../media/logo_nobg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 7em;
    line-height: 1.5em;
}


/********************************************
NAV
********************************************/

nav {
    background-color: var(--headerBackground);
    color: var(--headerText);
    text-align:center;
    padding:1em;
    font-size:1em;
}

#menu {
    padding:auto;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    padding: 0.5em;
    color: var(--link);
}

#menu a:hover {
    background-color: var(--hoverLink);
    border-radius: 1em;
}

#menu ul li {
    display: inline-block;
    margin: 0.5em;
    position: relative;
}

#menu ul a {
    padding:0.5em;
}

#menu ul a:hover {
    background-color: #403B33;
    border-radius:1em;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#menu ul li:hover > ul {
    display: block;
}

#breadcrumb {
    text-align:left;
}

#immagine-carrello {
    text-indent:-999em; 
    background-image:url(../media/carrello.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

nav a:link {
    color:var(--link);
}

nav a:visited {
    color:var(--visitedLink);
}

nav a:hover {
    color:var(--hoverLink);
}


/********************************************
MAIN
********************************************/
main {
    display:flex;
    flex-direction:column;
    margin:auto;
    padding:2em;
    color:var(--textColor);
    font-size:1.2em; /*mi sembra meglio così rispetto ad 1 em*/
}

main a:link {
    color:var(--link);
}

main a:visited {
    color:var(--visitedLink);
}

main a:hover {
    color:var(--hoverLink);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#menu ul li:hover .dropdown-menu {
    display: block;
}

#CosaOffro {
    width:50%;
    margin:auto;
    margin-left:10%;
    display:grid;
    grid-template-columns: 12em 65% 10%;
    grid-template-rows: 2em 2em 2em 6em 15.3em;
}

#link-massaggi {
    grid-row:1;
    grid-column:3
}

#link-corsi {
    grid-row:2;
    grid-column:3;
}

#link-danza {
    grid-row:3;
    grid-column:3;
}

.cosa-offro-links {
    width:10em;
    line-height:1.3em;
    padding:0.3em;
    margin:0.1em;

    position:relative;
    top:1em;

    background-color:var(--boxesBackground);
    border: 0.05em solid var(--borderColor);
    border-radius: 0.5em;
}

#img-corso {
    width:6em;
    height:3.75em;
    
    grid-row:1 / 3;
    grid-column:2;
    
    text-indent:-999em; 
    background-image:url(../media/corso.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    font-size:4em;
    line-height:1.5em;
    
    border: 0.05em solid var(--borderColor); /*da cambiare con un colore suo*/
    border-right-width: 0.55em;
    border-bottom-width:0.55em;
    border-radius:0.3em;
}

#img-massaggio {
    width:6em;
    height:3.75em;
    
    grid-row:5;
    grid-column:2;
    
    text-indent: -999em; 
    background-image: url(../media/corso.jpg); /*credo manchi l'immagine relativa ai massaggi*/
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 4em;
    line-height: 1.5em;
    
    position:relative;
    left:3em;
    
    border: 0.05em solid var(--borderColor);
    border-radius:0.3em;
}

#foto-anna-home {
    height:50em;
    margin:auto;
    margin-top:5em;
    padding:2em;
    
    display:flex;
    flex-flow:column;
    align-items:end;
    
    background-image:url(../media/Anna_2.0_rev.jpg);
    background-size: cover;/*background-size: 100%;*/
    background-repeat: no-repeat;
    background-position: center;
    
    border-radius:50px;
}

#foto-anna-home>* {
    padding:0.5em;
    width:30%;
}

#descrizione-foto-anna-home {
    background-color: white;
    border-radius: 1em;
}

#descrizione-foto-anna-home > * {
    margin: 0.5em;
}

#prenotazioni-home-main {
    width:10em;
    margin:auto;
    margin-top:2em;
    padding:1em;
    
    background-color:var(--boxesBackground);
    border: 0.05em solid var(--borderColor);
    border-radius: 3em;

    text-align:center;
}

#foto-anna-home-descrizione {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}
#foto-anna-home-descrizione > *{
    margin: 0.4em;
}

#idee_regalo {
    width:50%;
    margin:auto;
    padding:2em;
    margin-top:5em;
    
    border-top: solid 1px var(--borderColor);

    text-align:center;
}

#idee_regalo>* {
    margin:1em;
}

#idee_regalo h2, #idee_regalo a {
    display:inline-block
}

#idee_regalo h2 {
    text-transform:capitalize;
}

#idee_regalo a {
    width:6em;
    margin:auto;
    margin-top:2em;
    padding:1em;
    
    background-color:var(--boxesBackground);
    border:0.05em solid var(--borderColor);
    border-radius: 3em;
}

#idee_regalo ul li {
    margin:1em;
    display:inline-block;
    list-style-type:none;
}

/********************************************
FOOTER
********************************************/
footer {
    background-color: var(--footerBackground);
    color: var(--footerText);
    padding:1em;
    text-align: center;
}
